* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
}

body {
	background-color: #d1d7f4;
}

#main {
	background-color: white;
}

.block {
	display: absolute;
	margin: none;
	padding: 1%;
	font-size: 20pt;
	font-family: monospace;
	width: 100%;
}

.small-block {
	font-size: 15px;
	text-align: center;
}

#m1 {
	background-color: ;
}

h1,
h2,
h3 {
	font-size: inherit;
}

#header-block {
	top: 0;
	left: 0;
	background-color: #86608E;
	color: white;
}

#title-block {
	background-color: #FFFF66;
	text-align: right;
}

#page-content {
	margin: 5px;
	padding: 10px;
	font-size: 20px;
	background-color: white;
}

.translation {
  width: 100%;
  font-size: 20px;
}

footer {
	padding: 1%;
	width: 98%;
	padding-top: 30 px;
	text-align: center;
	box-shadow: inset 0px 4px 5px -4px rgba(0, 0, 0, 0.75);
	background-color: #fdfdfd;
}

@media only screen and (min-width: 650px) {
	#main {
		margin: auto;
		margin-top: 50px;
		width: 60%;
		height: 90%;
		border: 1px solid #000;
	}
}
